body {
  height: 100%;
  margin: 0;
}
#root{
  position: absolute;
  height: 100%;
  width: 100%;
}
.fs-30{
  font-size: 30px !important;
}
.m-20{
  margin: 20px !important;
}
.md-20{
  margin: 0px 20px !important;
}
.h1{
  font-size: 40px !important;
}
.titleDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fontRighteous{
  font-family: 'Righteous', cursive;
}
.container-div{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.bt1{
  border-top: 2px solid black !important;
}
.h60{
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
}
.p-05{
  padding: 0 5px !important;
}
.p10{
  padding: 10px;
}
.p5{
  padding: 5px;
}
.hero{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.hero-content{
  width: 40%;
  font: Arial normal;
  font-size: 13px;
}
.hero-content ol{
  list-style-type: circle !important;
}
.service{
  min-height: 300px;
  min-width: 150px;
  border: 2px solid orange;
}

@media (min-width: 800px){
  .hero{
    height: 400px;
  }
}
